.login{
    background: #F37172;
    border-radius: .7rem ;
    -webkit-border-radius: .7rem ;
    -moz-border-radius: .7rem ;
    -ms-border-radius: .7rem ;
    -o-border-radius: .7rem ;
    -webkit-border-radius: .7rem ;
}
.dot{
    color: #F37172;
}