.heroSignUpButton{
    background: #F37172;
    border-radius: .2rem ;
    -webkit-border-radius: .2rem ;
    -moz-border-radius: .2rem ;
    -ms-border-radius: .2rem ;
    -o-border-radius: .2rem ;
}
.container{
    max-width: 90%;
    
}